*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: url("../Képek/hatter.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 800px;
    margin: 40px auto;
}

nav {
    background: rgba(190,0,0,0.7);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
    display: block;
}

nav a:hover {
    background: rgba(0,0,0,0.8);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main{
    background-color: white;
    padding: 10px;
    margin: 15px;
}

main img{
    float: left;
    margin-right: 10px;
}

main p {
    line-height: 1.5em;
}

h1::first-letter{
    font-size: 1.5em;
    color: darkred;
}

h2::first-letter{
    font-size: 1.5em;
    color: darkred;
}